rdkit
torch
torchvision
torchaudio
torch-geometric
biopython
transformers
meeko
streamlit
stmol
py3Dmol
langchain
langchain-community
chromadb
requests
pandas
numpy
matplotlib
plotly
deepchem
scikit-learn
scipy
ipykernel
tqdm
pydantic
python-dotenv
chembl_webresource_client
